name: Deploy Infra and Spring Boot Application to EKS

on:
  push:
    branches:
      - main

jobs:
  terraform-deploy:
    uses: Hinaikram/testrb/.github/workflows/reuseable-terraform.yaml@main
    with:
      tf_directory: 'terraform'
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      TF_STATE_S3_BUCKET: ${{ secrets.TF_STATE_S3_BUCKET }}
      TF_STATE_FILE_KEY: ${{ secrets.TF_STATE_FILE_KEY }}
      TF_STATE_DYNAMODB_TABLE: ${{ secrets.TF_STATE_DYNAMODB_TABLE }}
      S3_AWS_REGION: ${{ secrets.S3_AWS_REGION }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}

  springboot-deploy:
    needs: terraform-deploy
    uses: Hinaikram/testrb/.github/workflows/reuseable-springboot.yaml@main
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      ECR_URL: ${{ secrets.ECR_URL }}
